<div class="mapa-container">
    <div class="mapa-container-item">
        <h1>Filtro</h1>

        <div class="buscardo">
            <input type="text" placeholder="Buscador">
        </div>

        <div class="categorias">
            <div class="categorias-titulo">
                <h3>Categorias</h3>
            </div>

            <div class="categorias-contenido">
                <ul *ngFor="let cat of categorias">
                    <a (click)="obtenerLugaresPorCategoria(cat.idCategoria)"><li>{{cat.categoria}}</li></a>
                </ul>
            </div>
        </div>
    </div>

    <div class="mapa-container-item">
        <div id="map"></div>
        <div id="tooltip" class="tooltip"></div>
    </div>
    
</div>


