<div class="container">
    <div class="card-recomendaciones" *ngFor="let auxlugares of todosLugars">
        <a [routerLink]="['/lugar/',auxlugares.idLugares]">
            <div class="card-recomendaciones-img">
                <img src="assets/img/cat2.jpg" alt="">
            </div>

            <div class="card-recomendaciones-nombre">
                <h3>{{auxlugares.nombre}}</h3>
            </div>

            <div class="card-recomendaciones-descripcion">
                <p>{{auxlugares.descripcion}}</p>
            </div>
        </a>
    </div>
    
</div>