<form #form="ngForm"> <!--Poner (ngSubmit)="onSubmit(form)"-->
    <div class="formularioSugerencia">

        <div>
            <div [ngClass]="{'datos-personales': !editar, 'datosPersonalesTrue':editar}">
                <div class="datos-personales-items" [ngClass]="{'input-error': auxnombre.invalid && auxnombre.touched}">
                    <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" #auxnombre="ngModel" required [disabled]="editar">
                    <label  for="nombre">Nombre</label>
                </div>
            </div>
            <div *ngIf="auxnombre.invalid && auxnombre.touched" class="error">
                Nombre es obligatorio.
            </div>
        </div>

        <div>
            <div [ngClass]="{'datos-personales': !editar, 'datosPersonalesTrue':editar}">
                <div class="datos-personales-items" [ngClass]="{'input-error': auxapellido.invalid && auxapellido.touched}">
                    <input type="text" id="apellido" name="apellido" [(ngModel)]="apellido" #auxapellido="ngModel"
                        required [disabled]="editar">
                    <label for="apellido">Apellido</label>
                </div>
            </div>
            <div *ngIf="auxapellido.invalid && auxapellido.touched" class="error">
                <p>Apellido es obligatorio.</p>
            </div>
        </div>
        
        <!--Cambiar por fecha de nacimiento-->
        <div>
            <div>
                <div [ngClass]="{'datos-personales': !editar, 'datosPersonalesTrue':editar}">
                    <div class="datos-personales-items" [ngClass]="{'input-error': auxedad.invalid && auxedad.touched}">
                        <input type="number" id="edad" name="edad" [(ngModel)]="edad" #auxedad="ngModel" required min="18" [disabled]="editar"/>
                        <label for="edad">Edad</label>
                    </div>
                </div>
            </div>
            <div *ngIf="auxedad.invalid && auxedad.touched" class="error">
                La edad debe ser mayor o igual a 18.
            </div>
        </div>

        <div>
            <div [ngClass]="{'datos-personales': !editar, 'datosPersonalesTrue':editar}">
                <div class="datos-personales-items" [ngClass]="{'input-error': auxpais.invalid && auxpais.touched}">
                    <input type="text" id="pais" name="pais" [(ngModel)]="pais" #auxpais="ngModel" required [disabled]="editar"/>
                    <label for="pais">País de Origen</label>
                </div>
            </div>
            <div *ngIf="auxpais.invalid && auxpais.touched" class="error">
                País es obligatorio.
            </div>
        </div>

        <div>
            <div [ngClass]="{'datos-personales': !editar, 'datosPersonalesTrue':editar}">
                <div class="datos-personales-items" [ngClass]="{'input-error': auxidioma.invalid && auxidioma.touched}">
                    <input type="text" id="idioma" name="idioma" [(ngModel)]="idioma" #auxidioma="ngModel" required [disabled]="editar"/>
                    <label for="idioma">Idioma Preferido</label>
                </div>
            </div>
            <div *ngIf="auxidioma.invalid && auxidioma.touched" class="error">
                Idioma es obligatorio.
            </div>
        </div>

        <div>
            <div [ngClass]="{'datos-personales': !editar, 'datosPersonalesTrue':editar}">
                <div class="datos-personales-items" [ngClass]="{'input-error': auxusuario.invalid && auxusuario.touched}">
                    <input type="text" id="usuario" name="usuario" [(ngModel)]="usuario" #auxusuario="ngModel" required [disabled]="editar"/>
                    <label for="usuario">Usuario</label>
                </div>
            </div>
            <div *ngIf="auxusuario.invalid && auxusuario.touched" class="error">
                Usuario es obligatorio.
            </div>
        </div>

        <div>
            <div [ngClass]="{'datos-personales': !editar, 'datosPersonalesTrue':editar}">
                <div class="datos-personales-items" [ngClass]="{'input-error': auxcontrasena.invalid && auxcontrasena.touched}">
                    <input type="password" id="contrasena" name="contrasena" [(ngModel)]="contrasena"
                        #auxcontrasena="ngModel" required minlength="6" [disabled]="editar"/>
                    <label for="contrasena">Contraseña</label>
                </div>
            </div>
            <div *ngIf="auxcontrasena.invalid && auxcontrasena.touched" class="error">
                La contraseña invalida
            </div>
        </div>
        
        <div class="btn">
            <button (click)="registrarPersona()" *ngIf="!userloginOn" type="submit" class="botonRegistrar">Registrar</button>
            <button (click)="registrarPersona()" *ngIf="!editar && userloginOn" type="submit" class="botonRegistrar">Guardar</button>
            
            <button [ngClass]="{'botonEditar': editar, 'botonEditarTrue': !editar}" (click)="activarModoEditar()" type="submit">Editar</button>
        </div>
    </div>
</form>
