body {
    font-family: 'Times New Roman', serif;

}



/* Estilo para los inputs */
.datos-personales,
.datosPersonalesTrue {
    position: relative;
    margin: 20px 0;
}

.datos-personales input,
.datosPersonalesTrue input {
    width: 98.3%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0088ff;
    outline: none;
    transition: all 0.3s ease;
    border-radius: 10px;
    font-family: 'Times New Roman', serif;
}

/* Efecto de foco en el input */
.datos-personales input:focus,
.datos-personales input:valid,
.datosPersonalesTrue input:focus,
.datosPersonalesTrue input:valid {
    border-color: #0088ff;
}

/* Estilo para las etiquetas */
.datos-personales label,
.datosPersonalesTrue label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    color: #777474;
    font-size: 14px;
    padding: 0 5px;
    transition: all 0.3s ease;
    pointer-events: none;
}

.datos-personales input:focus+label,
.datos-personales input:valid+label,
.datosPersonalesTrue input:focus+label,
.datosPersonalesTrue input:valid+label {
    top: -10px;
    font-size: 14px;
    color: #3c5c5e;
}

/* Mensajes de error */
.error {
    font-size: 0.9rem;
    background: linear-gradient(90deg,#fbfbfb, #a1d1da, #5cb0b0,#000000); /* Degradado como el menú */
    padding: 5px;
    border-radius: 4px;
    color: #0e0d0d;
    margin-top: 5px;
}

/* Botones */
.botonRegistrar,
.botonEditar {
    display: flex;
    justify-content: center;
    width: 130px;
    padding: 12px;
    background: linear-gradient(90deg, #0eacac, #6b797e);    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
}

.botonRegistrar:hover,
.botonEditar:hover {
    background: linear-gradient(90deg, #0eacac, #fdfdfd);}

.botonEditarTrue {
    display: none;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.datos-personales-items {
    position: relative;
    display: flex;
    align-items: center;
}


/* Ajustar input con icono */
.datos-personales-items input {
    padding-left: 35px; /* Espacio para el icono */
}
