<form #form="ngForm">
    <div class="formularioSugerencia">
        <!-- Nombre -->
        <div class="datos-personales" [ngClass]="{'datosPersonalesTrue': editar}">
            <div class="datos-personales-items input-group">
                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" #auxnombre="ngModel" required [disabled]="editar" class="form-control">
                <label for="nombre">Nombre</label>
            </div>
        </div>
        <div *ngIf="auxnombre.invalid && auxnombre.touched" class="error">
            ⚠ Nombre es obligatorio.
        </div>
        

        <!-- Apellido -->
        <div>
            <div [ngClass]="{'datos-personales': !editar, 'datosPersonalesTrue': editar}">
                <div class="datos-personales-items">
                    <i class="bi bi-person-badge icono"></i>
                    <input type="text" id="apellido" name="apellido" [(ngModel)]="apellido" #auxapellido="ngModel" required [disabled]="editar">
                    <label for="apellido">Apellido</label>
                </div>
            </div>
            <div *ngIf="auxapellido.invalid && auxapellido.touched" class="error">
                ⚠ Apellido es obligatorio.
            </div>
        </div>

        <!-- Correo -->
        <div>
            <div [ngClass]="{'datos-personales': !editar, 'datosPersonalesTrue': editar}">
                <div class="datos-personales-items">
                    <i class="bi bi-envelope-fill icono"></i>
                    <input type="email" id="correo" name="correo" [(ngModel)]="correo" #auxcorreo="ngModel" required [disabled]="editar">
                    <label for="correo">Correo</label>
                </div>
            </div>
            <div *ngIf="auxcorreo.invalid && auxcorreo.touched" class="error">
                ⚠ Correo es obligatorio.
            </div>
        </div>

        <!-- Edad -->
        <div>
            <div [ngClass]="{'datos-personales': !editar, 'datosPersonalesTrue': editar}">
                <div class="datos-personales-items">
                    <i class="bi bi-calendar-check-fill icono"></i>
                    <input type="number" id="edad" name="edad" [(ngModel)]="edad" #auxedad="ngModel" required min="18" [disabled]="editar"/>
                    <label for="edad">Edad</label>
                </div>
            </div>
            <div *ngIf="auxedad.invalid && auxedad.touched" class="error">
                ⚠ La edad debe ser mayor o igual a 18.
            </div>
        </div>

        <!-- País -->
        <div>
            <div [ngClass]="{'datos-personales': !editar, 'datosPersonalesTrue': editar}">
                <div class="datos-personales-items">
                    <i class="bi bi-geo-alt-fill icono"></i>
                    <input type="text" id="pais" name="pais" [(ngModel)]="pais" #auxpais="ngModel" required [disabled]="editar"/>
                    <label for="pais">País de Origen</label>
                </div>
            </div>
            <div *ngIf="auxpais.invalid && auxpais.touched" class="error">
                ⚠ País es obligatorio.
            </div>
        </div>

        <!-- Idioma -->
        <div>
            <div [ngClass]="{'datos-personales': !editar, 'datosPersonalesTrue': editar}">
                <div class="datos-personales-items">
                    <i class="bi bi-translate icono"></i>
                    <input type="text" id="idioma" name="idioma" [(ngModel)]="idioma" #auxidioma="ngModel" required [disabled]="editar"/>
                    <label for="idioma">Idioma Preferido</label>
                </div>
            </div>
            <div *ngIf="auxidioma.invalid && auxidioma.touched" class="error">
                ⚠ Idioma es obligatorio.
            </div>
        </div>

        <!-- Usuario -->
        <div *ngIf="!userloginOn">
            <div [ngClass]="{'datos-personales': !editar, 'datosPersonalesTrue': editar}">
                <div class="datos-personales-items">
                    <i class="bi bi-person-circle icono"></i>
                    <input type="text" id="usuario" name="usuario" [(ngModel)]="usuario" #auxusuario="ngModel" required [disabled]="editar"/>
                    <label for="usuario">Usuario</label>
                </div>
            </div>
            <div *ngIf="auxusuario.invalid && auxusuario.touched" class="error">
                ⚠ Usuario es obligatorio.
            </div>
        </div>

        <!-- Contraseña -->
        <div *ngIf="!userloginOn">
            <div [ngClass]="{'datos-personales': !editar, 'datosPersonalesTrue': editar}">
                <div class="datos-personales-items">
                    <i class="bi bi-key-fill icono"></i>
                    <input type="password" id="contrasena" name="contrasena" [(ngModel)]="contrasena" #auxcontrasena="ngModel" required minlength="6" [disabled]="editar"/>
                    <label for="contrasena">Contraseña</label>
                </div>
            </div>
            <div *ngIf="auxcontrasena.invalid && auxcontrasena.touched" class="error">
                ⚠ La contraseña es inválida.
            </div>
        </div>

        <!-- Botones -->
        <div class="btn">
            <button (click)="registrarPersona()" *ngIf="!userloginOn" type="submit" class="botonRegistrar">Registrar</button>
            <button (click)="actualizarPersona()" *ngIf="!editar && userloginOn" type="submit" class="botonRegistrar">Actualizar datos personales</button>
            <button (click)="openCrudModalUsername()" *ngIf="!editar && userloginOn" type="submit" class="botonRegistrar">Actualizar usuario</button>
            <button (click)="openCrudModalPassword()" *ngIf="!editar && userloginOn" type="submit" class="botonRegistrar">Actualizar contraseña</button>
            <button [ngClass]="{'botonEditar': editar, 'botonEditarTrue': !editar}" (click)="activarModoEditar()" type="button">Editar</button>
        </div>
    </div>
</form>

<!-- Modal para el CRUD PASSWORD -->
<div class="crud-modal" *ngIf="isCrudModalOpen">
    <div class="crud-modal-content">
        <span class="close-modal" (click)="closeCrudModalPassword()">✖</span>
        <h2>Actualizar Contraseña</h2>
        <input type="password" id="contrasena" name="contrasena" [(ngModel)]="contrasena" #auxcontrasena="ngModel" required minlength="6">
            <div class="buttons">
                <button (click)="actualizarPassword()" class="update-btn">Actualizar</button>
            </div>
    </div>
</div>

<!-- Modal para el CRUD User name -->
<div class="crud-modal" *ngIf="isCrudModalUsernameOpen">
    <div class="crud-modal-content">
        <span class="close-modal" (click)="closeCrudModalUsername()">✖</span>
        <h2>Actualizar Usuario</h2>
        <input type="text" id="usuario" name="usuario" [(ngModel)]="usuario" #auxusuario="ngModel" required>
            <div class="buttons">
                <button (click)="actualizarUsername()" class="update-btn">Actualizar</button>
            </div>
    </div>
</div>