<div class="crud-container">
    <div class="container-header">
        <div class="contenedor-izq">
            <h2>Gestión de Hoteles</h2>
            <p>Descripción general de la gestión de hoteles y otras opciones.</p>
        </div>
        <div class="contenedor-derecho">
            <div class="search-container">
                <input type="text" placeholder="Buscar" class="search-input" />
                <button class="search-button"><span class="icon">🔍</span></button>
            </div>
            <button class="btn-opcion" (click)="openCrudModal()">Crear Hotel</button>
        </div>
    </div>
    <!-- Modal para Crear/Editar Habitación -->
    <!-- Modal Principal para mostrar las Habitaciones -->
    <div class="crud-modal" *ngIf="isRoomModalOpen">
        <div class="crud-modal-content">
            <span class="close-modal" (click)="closeRoomModal()">✖</span>
            <h3>Lista de Habitaciones</h3>

            <!-- Botón para abrir el modal de creación de habitación -->
            <button class="btn-opcion btn-create" (click)="openCreateRoomModal()">Crear Habitación</button>

            <!-- Tabla para mostrar las habitaciones registradas -->
            <table class="room-table">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Disponible</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let room of rooms;">
                        <!-- <td><img [src]="room.image" alt="Imagen de Habitación" class="room-thumbnail"></td> -->
                        <td>
                            <div class="img-preview" id="preview1">
                                <img [src]="[urlHost + room.imagenesHabitaciones[1].url]" alt="Vista previa">
                            </div>
                        </td>
                        <td>{{ room.nombreHabitacion }}</td>
                        <td>{{ room.descripcion }}</td>
                        <td>{{ room.precio }}</td>
                        <td>{{ room.disponible ? 'Sí' : 'No' }}</td>
                        <td>
                            <button class="btn-opcion btn-delete" (click)="editarHabitacion(room.idHabitacion)" 
                            (click)="obtenerImagesDeHabitacion(room.idHabitacion)">Editar</button>
                            <button class="btn-opcion btn-delete" (click)="deleteRoom(room.idHabitacion)">Eliminar
                                Habitacion</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Modal para Crear una Nueva Habitación -->
            <div class="crud-modal" *ngIf="isCreateRoomModalOpen">
                <div class="crud-modal-content">
                    <span class="close-modal" (click)="closeCreateRoomModal()">✖</span>
                    <h3>Crear Nueva Habitación</h3>

                    <!-- Formulario para ingresar los datos de la habitación -->
                    <form [formGroup]="habitacionForm">

                        <div class="input-container">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombreHabitacion" formControlName="nombreHabitacion" />
                            <div *ngIf="habitacionForm.get('nombreHabitacion')?.invalid && habitacionForm.get('nombreHabitacion')?.touched"
                                class="message error">
                                El nombre es obligatorio.
                            </div>
                        </div>

                        <div class="input-container">
                            <label for="descripcion">Descripción:</label>
                            <input type="text" id="descripcion" formControlName="descripcion" />
                            <div *ngIf="habitacionForm.get('descripcion')?.invalid && habitacionForm.get('descripcion')?.touched"
                                class="message error">
                                La descripción es obligatorio.
                            </div>
                        </div>

                        <!-- <div class="input-container">
                            <label for="visualizacion">Disponible:</label>
                            <select id="visualizacion" formControlName="visualizacion">
                                <option [value]="true">Publico</option>
                                <option [value]="false">Privado</option>
                            </select>
                            <div *ngIf="hotelForm.get('visualizacion')?.invalid && lugaresForm.get('visualizacion')?.touched" class="message error">
                                El estado es obligatorio.
                            </div>
                        </div> -->

                        <div class="input-container">
                            <label for="descripcion">Precio:</label>
                            <input type="text" id="precio" formControlName="precio" />
                            <div *ngIf="habitacionForm.get('precio')?.invalid && habitacionForm.get('precio')?.touched"
                                class="message error">
                                El precio es obligatorio.
                            </div>
                        </div>

                        <div class="imgContainer">
                            <div class="imgContainer-item">
                                <div class="img-preview" id="preview1">
                                    <img [src]="imagePreviews[0]" alt="Vista previa">
                                </div>
                                <label for="file1" class="file-label">Subir imagen</label>
                                <input accept="image/*" (change)="onFileSelected($event,0)" type="file" id="file1"
                                    class="file-input" accept="image/*" onchange="previewImage(event, 'preview1')">
                            </div>

                            <div class="imgContainer-item">
                                <div class="img-preview" id="preview2">
                                    <img [src]="imagePreviews[1]" alt="Vista previa">
                                </div>
                                <label for="file2" class="file-label">Subir imagen</label>
                                <input accept="image/*" (change)="onFileSelected($event,1)" type="file" id="file2"
                                    class="file-input" accept="image/*" onchange="previewImage(event, 'preview2')">
                            </div>

                            <div class="imgContainer-item">
                                <div class="img-preview" id="preview3">
                                    <img [src]="imagePreviews[2]" alt="Vista previa">
                                </div>
                                <label for="file3" class="file-label">Subir imagen</label>
                                <input accept="image/*" (change)="onFileSelected($event,2)" type="file" id="file3"
                                    class="file-input" accept="image/*" onchange="previewImage(event, 'preview3')">
                            </div>
                        </div>

                        <button type="submit" class="btn-opcion" (click)="crearHabitacion()">Guardar</button>
                    </form>
                </div>
            </div>

            <div class="btn-panel">
                <button class="btn-opcion" (click)="closeRoomModal()">Cerrar</button>
            </div>
        </div>
    </div>


    <!-- Modal para el CRUD -->
    <div class="crud-modal" *ngIf="isCrudModalOpen">
        <div class="crud-modal-content">
            <span class="close-modal" (click)="closeCrudModal()">✖</span>
            <h3>Crear o Editar Lugar</h3>

            <div class="combo-container">
                <label for="lugares">Selecciona un lugar:</label>
                <select id="lugares" [(ngModel)]="idLugarSeleccionado">
                    <option *ngFor="let lugar of todosLosLugaresCreadosPorAdmin" [value]="lugar.idLugares">
                        Nombre: {{ lugar.nombre }} Direccion: {{ lugar.direccion }}
                    </option>
                </select>
            </div>
            <form [formGroup]="hotelForm">
                <div class="input-container">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" formControlName="nombre" />
                    <div *ngIf="hotelForm.get('nombre')?.invalid && hotelForm.get('nombre')?.touched"
                        class="message error">
                        El nombre es obligatorio.
                    </div>
                </div>
                <div class="input-container">
                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion" formControlName="descripcion" rows="4"></textarea>
                    <div *ngIf="hotelForm.get('descripcion')?.invalid && hotelForm.get('descripcion')?.touched"
                        class="message error">
                        La descripción es obligatoria.
                    </div>
                </div>

                <div class="input-container">
                    <label for="direccion">Dirección:</label>
                    <input type="text" id="direccion" formControlName="direccion" />
                    <div *ngIf="hotelForm.get('direccion')?.invalid && hotelForm.get('direccion')?.touched"
                        class="message error">
                        La dirección es obligatoria.
                    </div>
                </div>

                <div class="input-container">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" id="telefono" formControlName="telefono" />
                    <div *ngIf="hotelForm.get('telefono')?.invalid && hotelForm.get('telefono')?.touched"
                        class="message error">
                        El teléfono es obligatoria.
                    </div>
                </div>

                <div class="imgContainer">
                    <div class="imgContainer-item">
                        <div class="img-preview" id="preview1">
                            <img [src]="imagePreviews[0]" alt="Vista previa">
                        </div>
                        <label for="file1" class="file-label">Subir imagen</label>
                        <input accept="image/*" (change)="onFileSelected($event,0)" type="file" id="file1"
                            class="file-input" accept="image/*" onchange="previewImage(event, 'preview1')">
                    </div>
                    <div class="imgContainer-item">
                        <div class="img-preview" id="preview2">
                            <img [src]="imagePreviews[1]" alt="Vista previa">
                        </div>
                        <label for="file2" class="file-label">Subir imagen</label>
                        <input accept="image/*" (change)="onFileSelected($event,1)" type="file" id="file2"
                            class="file-input" accept="image/*" onchange="previewImage(event, 'preview2')">
                    </div>
                    <div class="imgContainer-item">
                        <div class="img-preview" id="preview3">
                            <img [src]="imagePreviews[2]" alt="Vista previa">
                        </div>
                        <label for="file3" class="file-label">Subir imagen</label>
                        <input accept="image/*" (change)="onFileSelected($event,2)" type="file" id="file3"
                            class="file-input" accept="image/*" onchange="previewImage(event, 'preview3')">
                    </div>
                </div>

                <div class="btn-panel">
                    <button class="btn-opcion" type="submit" (click)="crearHotel()">Guardar</button>

                </div>
            </form>

        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Descripción</th>
                    <th>teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hotel of todosHoteles">
                    <td>{{ hotel.nombre }}</td>
                    <td>{{ hotel.direccion }}</td>
                    <td>{{ hotel.descripcion }}</td>
                    <td>{{hotel.telefono}}</td>

                    <!-- botones de opciones -->
                    <td>
                        <button (click)="guardarIdHotel(hotel.idHotel)" (click)="abrirModalEtiqueta()"
                            class="btn-opcion">Agregar/quitar etiquetas</button>
                        <button class="btn-opcion" (click)="guardarIdHotel(hotel.idHotel)"
                            (click)="openRoomModal()">Crear/Editar Habitación</button>
                        <button (click)="guardarIdHotel(hotel.idHotel)" (click)="obtenerImagesDeHotel(hotel.idHotel)"
                            (click)="obtenerHotelById(hotel.idHotel)" class="btn-opcion">Editar</button>
                        <button class="btn-opcion" (click)="eliminarHotel(hotel.idHotel)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="modal-agrgarEtiquetas" *ngIf="modalEtiqueta">
        <div class="model-agregarEtiquetas-content">
            <span class="close-modal" (click)="cerrarModalEtiqueta()">✖</span>

            <div class="model-agregarEtiquetas-content-agregar">
                <div class="modal-agregarEtiquetas-title">
                    <h3>Agrega etiquetas</h3>
                </div>
                <div class="modal-agrgarEtiquetas-p">
                    <p>Haga clic en la etiqueta que desea asignarle al lugar</p>
                </div>
                <div class="modal-agregarEtiquetas-etiquetas">
                    <div class="etiqueta" *ngFor="let etiqueta of etiquetas">
                        <button class="etiqueta-boton"
                            (click)="asignarEtiquetaAHotel(etiqueta)">{{etiqueta.etiqueta}}</button>
                    </div>
                </div>
            </div>
            <div class="model-agregarEtiquetas-content-quitar">
                <div class="modal-agregarEtiquetas-title">
                    <h3>Quitar etiquetas</h3>
                </div>
                <div class="modal-agrgarEtiquetas-p">
                    <p>Haga clic en la etiqueta que desea quitar del hotel</p>
                </div>
                <div class="modal-agregarEtiquetas-etiquetas">
                    <div class="etiqueta" *ngFor="let etiqueta of etiquetasDelHotel">
                        <button (click)="eliminarEtiqueta(etiqueta)"
                            class="etiqueta-boton">{{etiqueta.etiqueta}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>