<hr>

<div class="tabla-container">
    <button class="tabla" [class.active]="activarTabla === 'tab1'" (click)="seleccionarTablaactiva('tab1')">
        Datos personales
    </button>
    <button class="tabla" [class.active]="activarTabla === 'tab2'" (click)="seleccionarTablaactiva('tab2')">
        Preferencias
    </button>
    <button class="tabla" [class.active]="activarTabla === 'tab3'" (click)="seleccionarTablaactiva('tab3')">
        Reservas de habitaciones
    </button>
    <button class="tabla" [class.active]="activarTabla === 'tab4'" (click)="seleccionarTablaactiva('tab4')">
        Reservas de mesas
    </button>
    <button class="tabla" [class.active]="activarTabla === 'tab5'" (click)="seleccionarTablaactiva('tab5')">
        Lugares creados
    </button>
</div>

<hr>

<div class="tabla-contenido" *ngIf="activarTabla === 'tab1'">
    <app-datos-personales></app-datos-personales>
</div>

<div class="tabla-contenido" *ngIf="activarTabla === 'tab2'">
    <app-encuesta></app-encuesta>
</div>

<div class="tabla-contenido" *ngIf="activarTabla === 'tab3'">
    <app-crud-reservas-habitacion></app-crud-reservas-habitacion>
</div>

<div class="tabla-contenido" *ngIf="activarTabla === 'tab4'">
    <app-crud-reservas-mesas></app-crud-reservas-mesas>
</div>

<div class="tabla-contenido" *ngIf="activarTabla === 'tab5'">
    <app-lugares-creados-user></app-lugares-creados-user>
</div>
