.formularioSugerencia {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    background: linear-gradient(90deg, #b65602, #c6c2c2);
    color: white;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.img-encabezado {
    width: 500px;
    height: auto;
    margin-bottom: 15px;
}

.titulo {
    font-family: 'Times New Roman', serif;

    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
img {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  img:hover {
    transform: scale(1.1); /* Hace la imagen un poco más grande */
    opacity: 0.9; /* Reduce ligeramente la opacidad */
  }
  button {
    transition: all 0.3s ease-in-out;
  }