.formularioSugerencia {
  max-width: 500px;
  width: 90%; /* Ajuste para pantallas pequeñas */
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  background: linear-gradient(90deg, #0eacac, #c1e4f4);   
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden; /* Para que el fondo animado no se desborde */
}
/* Estilo para la imagen */
.img-encabezado {
  max-width: 100%; /* Se ajusta automáticamente */
  height: auto;
  margin-bottom: 15px;
}

.titulo {
  font-family: 'Times New Roman', serif;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

/* Efecto hover para las imágenes */
img {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.1); /* Hace la imagen un poco más grande */
  opacity: 0.9; /* Reduce ligeramente la opacidad */
}

/* Efecto hover para los botones */
button {
  transition: all 0.3s ease-in-out;
}
.flotante {
  position: absolute;
  z-index: -1; /* Envía la imagen al fondo */
  width:99%; /* Tamaño ajustable */
  height: 1240px;
  opacity: 0.7;  
  object-fit: cover; /* Asegura que la imagen se ajuste al contenedor */

}

@media (max-width: 768px) {
  .formularioSugerencia {
    width: 95%;
    padding: 20px;
  }
  
  .titulo {
    font-size: 20px;
  }

  .img-encabezado {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .formularioSugerencia {
    width: 100%;
    padding: 15px;
  }

  .titulo {
    font-size: 18px;
  }

  .img-encabezado {
    max-width: 85%;
  }

  button {
    width: 100%;
    font-size: 16px;
  }
}
