<div class="nosotros">
    <div class="integrante">
        <img src="https://img.freepik.com/vector-premium/icono-perfil-simple-color-blanco-icono_1076610-50204.jpg" alt="Foto de Jonnathan">
        <h3>Jonnathan</h3>
        <p><strong>Rol:</strong> Scrum Master</p>
        <p>Desarrollador backend</p>
        <p>Desarrollador movil</p>
    </div>
    <div class="integrante">
        <img src="https://img.freepik.com/vector-premium/icono-perfil-simple-color-blanco-icono_1076610-50204.jpg" alt="Foto de Wilson">
        <h3>Wilson</h3>
        <p><strong>Rol:</strong> Desarrollador backend</p>
        <p>Desarrollador movil</p>
    </div>
    <div class="integrante">
        <img src="https://img.freepik.com/vector-premium/icono-perfil-simple-color-blanco-icono_1076610-50204.jpg" alt="Foto de Jorge">
        <h3>Jorge</h3>
        <p><strong>Rol:</strong> Desarrollador frontend</p>
        <p>Desarrollador movil</p>
    </div>
    <div class="integrante">
        <img src="https://img.freepik.com/vector-premium/icono-perfil-simple-color-blanco-icono_1076610-50204.jpg" alt="Foto de Ruben">
        <h3>Ruben</h3>
        <p><strong>Rol:</strong> Desarrollador frontend</p>
        <p>Desarrollador movil</p>
    </div>
    <div class="integrante">
        <img src="https://img.freepik.com/vector-premium/icono-perfil-simple-color-blanco-icono_1076610-50204.jpg" alt="Foto de Sebastian">
        <h3>Sebastian</h3>
        <p><strong>Rol:</strong> Desarrollador frontend</p>
        <p>Desarrollador movil</p>
    </div>
</div>
