<div class="card">
    <a routerLink="/producto">
      <div class="card-producto">
        <div class="card-producto-foto">
          <img src="https://bscstoreusa.com/cdn/shop/files/1A_248bd723-9651-42c3-8f94-d5c67b11d2fc.jpg?v=1685890833" alt="Producto">
        </div>
      
        <div class="card-producto-titulo">
          <h3>Cuenca Vive</h3>
        </div>
      
        <div class="card-producto-precio">
          <p>Precio:</p>
          <p><strong>$2.40</strong></p>
        </div>
      
        <div class="card-producto-boton">
          <button (click)="verProducto()">Ver producto</button>
        </div>
      </div>
    </a> 

    <a routerLink="/producto">
      <div class="card-producto">
        <div class="card-producto-foto">
          <img src="https://bscstoreusa.com/cdn/shop/files/1A_248bd723-9651-42c3-8f94-d5c67b11d2fc.jpg?v=1685890833" alt="Producto">
        </div>
      
        <div class="card-producto-titulo">
          <h3>Cuenca Vive</h3>
        </div>
      
        <div class="card-producto-precio">
          <p>Precio:</p>
          <p><strong>$2.40</strong></p>
        </div>
      
        <div class="card-producto-boton">
          <button (click)="verProducto()">Ver producto</button>
        </div>
      </div>
    </a> 

    <a routerLink="/producto">
      <div class="card-producto">
        <div class="card-producto-foto">
          <img src="https://bscstoreusa.com/cdn/shop/files/1A_248bd723-9651-42c3-8f94-d5c67b11d2fc.jpg?v=1685890833" alt="Producto">
        </div>
      
        <div class="card-producto-titulo">
          <h3>Cuenca Vive</h3>
        </div>
      
        <div class="card-producto-precio">
          <p>Precio:</p>
          <p><strong>$2.40</strong></p>
        </div>
      
        <div class="card-producto-boton">
          <button (click)="verProducto()">Ver producto</button>
        </div>
      </div>
    </a> 

    <a routerLink="/producto">
      <div class="card-producto">
        <div class="card-producto-foto">
          <img src="https://bscstoreusa.com/cdn/shop/files/1A_248bd723-9651-42c3-8f94-d5c67b11d2fc.jpg?v=1685890833" alt="Producto">
        </div>
      
        <div class="card-producto-titulo">
          <h3>Cuenca Vive</h3>
        </div>
      
        <div class="card-producto-precio">
          <p>Precio:</p>
          <p><strong>$2.40</strong></p>
        </div>
      
        <div class="card-producto-boton">
          <button (click)="verProducto()">Ver producto</button>
        </div>
      </div>
    </a>  
</div>

