a{
  all: unset;
}

.card{
    cursor: pointer;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.card-producto {
    width: 300px; /* Ancho fijo para la tarjeta */
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    overflow: hidden; /* Ocultar desbordes */
    background-color: #fff; /* Fondo blanco */
    display: flex;
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar contenido */
    text-align: center; /* Centrar texto */
    margin: 20px; /* Espaciado entre tarjetas */
    transition: transform 0.3s, box-shadow 0.3s; /* Animación al pasar el cursor */
  }
  
  .card-producto:hover {
    transform: translateY(-5px); /* Efecto de elevación */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Aumentar sombra */
  }
  
  .card-producto-foto img {
    width: 90%; 
    height: 190px; 
    object-fit: cover; /* Ajustar imagen sin distorsionar */
    margin-top: 15px;
  }
  
  .card-producto-titulo h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007BFF;
    margin: 15px 0 0; 
  }
  
  .card-producto-precio {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    color: black;
    flex-direction: column;
  }
  
  .card-producto-precio p:last-child {
    margin-top: -5px;
    font-weight: bold;  
  }
  
  .card-producto-boton button {
    display: none;
    background-color: #29a72e; 
    color: #fff; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    font-size: 1rem; 
    cursor: pointer; 
    margin-bottom: 15px; 
    transition: background-color 0.3s; 
  }
  
  .card-producto-boton button:hover {
    background-color: #07710b;
  }
  