<p>slider-restaurante works!</p>
<!--Poner máximo 3 imágenes-->
<div class="slider-container">
    <div class="slider">
        <div class="slider-images">
            <div class="slide">
                <img src="assets/img/rest1.jpg" alt="Imagen 1" />
            </div>
            <div class="slide">
                <img src="assets/img/rest2.jpg" alt="Imagen 1" />
            </div>
            <div class="slide">
                <img src="assets/img/rest3.jpg" alt="Imagen 1" />
            </div>
        </div>
    </div>
</div>
