/* Contenedor principal */
.producto-container {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 1.5fr 1.25fr;
  /* Columna imágenes + detalles */
  gap: 30px;
  padding: 40px;
  align-items: center;
}

/* Columna de imágenes */
.imagenes-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.imagen-principal img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}

.imagenes-secundarias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  object-fit: cover;
}

.imagenes-secundarias img {
  width: 450px;
  height: auto;
}

/* Columna de detalles */
.detalles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto-titulo {
  font-size: 1.5rem;
  font-weight: bold;
}

.producto-subtitulo {
  font-size: 1rem;
  color: #555;
}

.producto-precio {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}


/* Tallas */
.tallas-opciones {
  display: flex;
  gap: 10px;
}

.tallas-opciones span {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.tallas-opciones span:hover {
  background-color: #f4f4f4;
}

/* Botón */
.boton-agregar {
  margin-top: 25px;
  background-color: #29a72e;
  color: #f4f4f9;
  padding: 15px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.boton-agregar:hover {
  background-color: #07710b;
}


.subpestana {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.subpestanaOculatar {
  display: none;
  /* Ocultar por defecto */
}

.subpestana button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.subpestana button:hover {
  background-color: #555;
}

#abrir-descripcion {
  all: unset;
}

#abrir-descripcion {
  cursor: pointer !important;
}

@media (max-width: 768px) {
  .producto-container {
    grid-template-columns: 1fr;
  }

  .imagenes-container {
    display: block;
  }

  .imagenes-secundarias {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
  }

  .imagenes-secundarias img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
  }
}

