<div class="login-container">
    <div class="login">
        <form [formGroup]="loginForm">
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input formControlName="username" type="text"  id="usuario"
                    placeholder="Ingrese su usuario">

                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                    <div *ngIf="username.hasError('required')">
                        El email es requerido
                    </div>
                    <div *ngIf="username.hasError('email')">
                        Email invalido
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input formControlName="password" type="password"  id="contrasena"
                    placeholder="Ingrese su contraseña">

                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                    <div *ngIf="password.hasError('required')">
                        La contraseña es requerido
                    </div>
                </div>

            </div>

            <div class="form-group">
                <button (click)="login()" type="submit" class="btn">Iniciar sesión</button>
            </div>
        </form>
    </div>

</div>