<div class="login">
    <form>
        <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" id="usuario" placeholder="Ingrese su usuario">
        </div>

        <div class="form-group">
            <label for="contrasena">Contraseña</label>
            <input type="password" name="contrasena" id="contrasena" placeholder="Ingrese su contraseña">
        </div>

        <div class="form-group">
            <button type="submit" class="btn">Iniciar sesión</button>
        </div>
    </form>
</div>
