/* Contenedor principal del login */
.login-container {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos del login */
.login {
    font-family: 'Times New Roman', serif;
    background: linear-gradient(90deg, #0eacac, #ffffff); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px   rgba(246, 245, 245, 0.2);
    max-width: 600px;
    width: 100%;
    text-align: center;
    position: relative;
}

/* Contenedor de imágenes dentro del login */
.login-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

/* Estilos de las imágenes dentro del login */
.login-images img {
    width: 300px; /* Tamaño fijo */
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.login-images img:hover {
    transform: scale(1.1);
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Contenedor de los inputs con iconos */
.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Estilos de los iconos dentro del input */
.input-group i {
    color: #1f81f2;
    font-size: 1.2rem;
    margin-right: 10px;
}

/* Estilos de los inputs */
.input-group input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1rem;
    font-family: 'Times New Roman', serif;
}

.input-group:focus-within {
    border-color: #6eb4dc;
    box-shadow: 0 0 5px rgba(32, 152, 221, 0.5);
}

/* Mensajes de error */
.text-danger {
    font-size: 0.9rem;
    background: linear-gradient(90deg,#fbfbfb, #a1d1da, #5cb0b0,#000000); /* Degradado como el menú */
    padding: 5px;
    border-radius: 20px;
    color: #ffffff;
    margin-top: 5px;
}

/* Botón de iniciar sesión */
.btn {
    background: linear-gradient(90deg, #0eacac, #6b797e);
    color: white;
    padding: 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 20px; /* Aumenta la redondez */
    transform: scale(1.1); /* Agranda un poco el elemento */
}

.btn:hover {
    background: linear-gradient(90deg, #0eacac, #fdfdfd);
}
label {
    color: rgb(240, 240, 246); /* Cambia este color según prefieras */  
    min-width: 100px; /* Asegura que los labels tengan el mismo ancho */
    text-align: right;
    font-size: 20px;

}
label:hover {
    color: #0088ff; /* Color al pasar el cursor */
}
.flotante {
    position: absolute;
    z-index: -1; /* Envía la imagen al fondo */
    width:99%; /* Tamaño ajustable */
    height: 790px;
    opacity: 0.7;  Opcional: para que sea más sutil
}

