<div class="modal" *ngIf="isVisible">
    <div class="modal-content">
        <span class="cerrar" (click)="cerrarModal()">×</span>

        <div class="modal-content-principal">
            <div class="modal-content-principal-item">

                <div class="modal-content-principal-item-imgPrincipal">
                    <img src="assets/img/mesa1.jpg" alt="mesa1" />
                </div>

                <div class="modal-content-principal-item-img-secundarias">
                    <div class="modal-content-principal-item-img"></div>
                    <div class="modal-content-principal-item-img"></div>
                    <div class="modal-content-principal-item-img"></div>
                </div>
            </div>

            <div class="modal-content-principal-item">

                <div class="modal-titulo">
                    <h3>Mesa Exclusiva</h3>
                </div>

                <div class="modal-descripcion">
                    <p>Capacidad: {{mesaObtenda.capacidad}}</p>
                </div>

                <div class="modal-numeroMesa">
                    <p>Mesa número: {{mesaObtenda.numeroMesa}}</p>
                </div>

                <div class="modal-fechaReserva">
                    <div class="modal-fechaReserva-inicio">
                        <label>Fecha de incio de la reserva:</label><br>
                        <input class="custom-flatpickr-input"
                        [disable]="disabledDates" [(ngModel)]="fechaSelecionada" [minDate]="fechaActual" type="text" mwlFlatpickr
                        placeholder="Selecciona un rango de fechas" />
                    </div>
                </div>

                <button class="open-btn" (click)="openModalHorario()">Seleccionar Horario</button>

                <div class="modal-numeroMesa">
                    <p>Hora seleccionada: {{horaReservada}} </p>
                </div>
                <div class="modal-boton">
                    <button (click)="generarReserva()" class="botonReservar">Reservar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-reserva" *ngIf="horarioOpen">
    <div class="modal-hora-reserva">
      <h2>Selecciona un horario</h2>
      <ul>
        <a *ngFor="let horario of horarios" (click)="seleccionarHorario(horario)">
          <li>{{ horario }}</li>
        </a>
      </ul>      
      <button (click)="closeModalHorario()" class="close-btn">Cerrar</button>
    </div>
</div>
  