/* Contenedor principal con estructura de dos columnas */
.lugar-container {
    display: grid;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 10px; /* Espaciado entre columnas */
    padding: 10px;
    max-width: 1600px; /* Limitar el ancho total */
    margin: 0 auto; /* Centrar en pantalla */
    align-items: start; /* Alinear verticalmente */
    grid-template-columns: 63% 35%; /* Ajuste a 65% y 35% */

}
/* Contenedor de imágenes */
.imagenes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-template-rows: repeat(2, auto); /* Dos filas */
    gap: 16px; /* Espaciado entre las imágenes */
    background: linear-gradient(90deg,#0eacac, #b1b3b5); 
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    align-items: center;
    justify-content: center;
    height: 800px; /* Alto fijo para el contenedor */
}
.imagen-pequena {
    width: 2000px;  /* Para que la imagen no exceda el tamaño del contenedor */
    height: auto;  /* Mantiene la proporción */
    transform: scale(0.5);  /* Reduce la imagen al 50% de su tamaño original */
    display: block;  /* Evita espacios adicionales si la imagen está dentro de un `inline` elemento */
    margin: auto;  /* Centra la imagen si es necesario */
}
.logo-pequeno {
    max-width: 300px; /* Tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción */
    margin: 0 auto; /* Centra horizontalmente */


}


/* Estilos de las imágenes */
.imagen {
    width: 100%; /* Ocupa el 100% del ancho de la celda */
    height: 390px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen para cubrir el espacio sin distorsionar */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    
}
img:hover {
    transform: scale(1.1); /* Hace la imagen un poco más grande */
    opacity: 0.9; /* Reduce ligeramente la opacidad */
  }
/* Contenedor de los detalles */
.detalles-container {
    padding: 16px;
    background: linear-gradient(90deg, #b1b3b5, #0eacac); 
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto; /* Scroll vertical si el contenido excede */
    height: 800px; /* Alto fijo para el contenedor */
}

/* Estilos del nombre del lugar */
.nombre {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 8px;
}

/* Estilos del texto de descripción */
.descripcion {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 16px;
    font-family: 'Times New Roman', Times, serif;
}
/* Contenedor de detalles adicionales */
.container-detalles {
    font-size: 18px;
    color: #6e6e6e;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 16px;
}
/* Estilos de los enlaces de menú */
.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}
/* Estilos generales para los botones/enlaces */
.menu a {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(90deg, #0eacac, #6b797e);  
    border: 1px solid #0088ff;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.menu a:hover {
    background: linear-gradient(90deg, #0eacac, #fdfdfd);
    transform: scale(1.05);
}

/* Estilos generales de las subpestañas */
.subpestana {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 16px;
}

/* Botón de cierre en subpestañas */
.cerrar {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    text-align: center;
    margin: 16px auto 0;
}

.cerrar:hover {
    background-color: #555;
    transform: scale(1.05);
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .lugar-container {
        grid-template-columns: 1fr;
    }

    .imagenes-container {
        align-items: center;
    }
   

    .imagenes-secundarias {
        flex-direction: column;
        align-items: center;
    }

    .menu a {
        font-size: 16px;
    }
  
}
