<div class="crud-container">
    <div class="container-header">
        <div class="contenedor-izq">
            <h2>Gestión de reservas habitaciones</h2>
        </div>
        <div class="contenedor-derecho">
            <div class="search-container">
                <input type="text" placeholder="Buscar" class="search-input" />
                <button class="search-button"><span class="icon">🔍</span></button>
            </div>
        </div>
    </div>

    <!-- Modal para el CRUD -->
    <div class="crud-modal" *ngIf="isCrudModalOpen">
        <div class="crud-modal-content">
            <span class="close-modal" (click)="closeCrudModal()">✖</span>
            <h3>Editar reservas</h3>
            <div class="input-container">
                <label for="etiqueta">Fecha de reserva:</label>
                <input class="custom-flatpickr-input" [disable]="disabledDates" [minDate]="fechaActual" type="text"
                    mwlFlatpickr [(ngModel)]="rangeValue" [altInput]="true" mode="range"
                    placeholder="Selecciona un rango de fechas" />
            </div>

            <div class="btn-panel">
                <button (click)="actualizarReservacion()" class="btn-opcion" type="submit">Guardar</button>
            </div>
        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Hotel</th>
                    <th>habitacion</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de final</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reserva of todasLasReservaciones">
                    <td>{{ reserva.idReservas}}</td>
                    <td>{{ reserva.habitaciones.hotel.nombre}}</td>
                    <td>{{ reserva.habitaciones.nombreHabitacion }}</td>
                    <td>{{ reserva.fechaIncioReserva | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ reserva.fechaFinReserva | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ reserva.usuario.correo}}</td>
                    <td>
                        <button *ngIf="!admin" (click)="obtenerReservaById(reserva.idReservas)" (click)="openCrudModal(reserva.habitaciones.idHabitacion)"class="btn-opcion">Editar</button>
                        <button (click)="cancelarReservacion(reserva.idReservas)" class="btn-opcion">Cancelar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>