<div class="container">

    <div class="Titulo">
        <h1>Hoteles</h1>
    </div>

    <div class="card-hotel">
        <div class="card-hotel-img">
            <img src="https://www.kayak.com.ec/rimg/himg/b3/10/90/ice-178163-120191068-424668.jpg?width=1366&height=768&crop=true" alt="Imagen del hotel">
        </div>
        <div class="card-hotel-info">
            <div class="card-hotel-nombre">
                <h3>Hotel Tito</h3>
            </div>
            <div class="card-hotel-descripcion">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio rerum voluptate, dicta voluptatibus quae minus fugit est ratione, et labore placeat eveniet eum, dolores consectetur veritatis ipsa? Nulla, dolore laudantium.</p>
            </div>
        </div>
        <div class="card-hotel-boton">
            <button>Ver hotel</button>
        </div>
    </div>

</div>
