<div class="modal" *ngIf="isVisible">
    <div class="modal-content">
        <span class="cerrar" (click)="cerrarModal()">×</span>
        <div class="modal-content-plato">
            <div class="modal-content-plato-item">
                <img class="imagenPlato" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9zXJNyANS8TG8NHjHX4hUdaU_Q6VQSKaMQg&s" alt="">
                <h3 class="nombre">Arroz con pollo</h3>
                <p class="modal-descripcio">Ingredinetes</p>
                <p class="modal-precio">Precio: $2.66</p>
            </div>

            <div class="modal-content-plato-item">
                <img class="imagenPlato" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9zXJNyANS8TG8NHjHX4hUdaU_Q6VQSKaMQg&s" alt="">
                <h3 class="nombre">Arroz con pollo</h3>
                <p class="modal-descripcio">Ingredinetes</p>
                <p class="modal-precio">Precio: $2.66</p>
            </div>


            <div class="modal-content-plato-item">
                <img class="imagenPlato" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9zXJNyANS8TG8NHjHX4hUdaU_Q6VQSKaMQg&s" alt="">
                <h3 class="nombre">Arroz con pollo</h3>
                <p class="modal-descripcio">Plato hecho con pollo de la mas alta calidad</p>
                <p class="modal-precio">Precio: $2.66</p>
            </div>


            <div class="modal-content-plato-item">
                <img class="imagenPlato" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9zXJNyANS8TG8NHjHX4hUdaU_Q6VQSKaMQg&s" alt="">
                <h3 class="nombre">Arroz con pollo</h3>
                <p class="modal-descripcio">Ingredinetes</p>
                <p class="modal-precio">Precio: $2.66</p>
            </div>
            
            <div class="modal-content-plato-item">
                <img class="imagenPlato" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9zXJNyANS8TG8NHjHX4hUdaU_Q6VQSKaMQg&s" alt="">
                <h3 class="nombre">Arroz con pollo</h3>
                <p class="modal-descripcio">Ingredinetes</p>
                <p class="modal-precio">Precio: $2.66</p>
            </div>
        </div>
    </div>
</div>