<div class="container">

    <div class="Titulo">
        <h1>Restaurantes</h1>
    </div>

    <div class="card-restaurante">
        <div class="card-restaurante-img">
            <img src="assets/img/restaurante1.jpg" alt="rest1" />
        </div>
        <div class="card-restaurante-info">
            <div class="card-restaurante-nombre">
                <h3>Restaurante El Sabor</h3>
            </div>
            <div class="card-restaurante-descripcion">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio rerum voluptate, dicta voluptatibus quae minus fugit est ratione, et labore placeat eveniet eum, dolores consectetur veritatis ipsa? Nulla, dolore laudantium.</p>
            </div>

            <div class="card-restaurante-calificacion">
                <p>Calificación: 5 estrellas</p>
            </div>
        </div>
        <div class="card-restaurante-boton">
            <button routerLink="/mesa">Ver restaurante</button>
        </div>
    </div>

</div>
