<div class="sidebar">
  <div class="sidebar-header">
    <h2>Admin Dashboard</h2>
  </div>
  <ul class="menu">
    <li>
      <button routerLink="crudHotel" class="menu-item">Dashboard</button>
    </li>
    <li>
      <button routerLink="crudHotel" class="menu-item">Hoteles</button>
    </li>
    <li>
      <button (click)="perfil()" class="menu-item">Reservas habitaciones</button>
    </li>
    <li>
      <button routerLink="crudRestaurante" class="menu-item">Restaurantes</button>
    </li>
    <li>
      <button routerLink="crudLugar" class="menu-item">Lugares</button>
    </li>
    <li>
      <button routerLink="crudEtiquetaLugar" class="menu-item">Etiquetas de Lugares</button>
    </li>
    <li>
      <button routerLink="crudEtiquetaHotel" class="menu-item">Etiquetas de Hoteles</button>
    </li>
    <li>
      <button routerLink="crudEtiquetaRestaurante" class="menu-item">Etiquetas de Restaurantes</button>
    </li>
    <li>
      <button routerLink="crudPersonas" class="menu-item">Personas</button>
    </li>
    <li>
      <button (click)="cerrarSesion()" class="menu-item">Cerrar sesion</button>
    </li>
  </ul>
</div>