<div class="sidebar">
    <div class="sidebar-header">
      <h2>Admin Dashboard</h2>
    </div>
    <ul class="menu">
      <li>
        <button routerLink="crudHotel" class="menu-item">Hoteles</button>
      </li>
      <li>
        <button routerLink="crudRestaurante" class="menu-item">Restaurantes</button>
      </li>
      <li>
        <button class="menu-item">Persona</button>
      </li>
      <li>
        <button class="menu-item">Publicaciones</button>
      </li>
      <li>
        <button routerLink="crudLugar" class="menu-item">Lugares</button>
      </li>
    </ul>
  </div>
  