  <!-- boton con foto lateral -->
 <!-- Contenedor principal -->
<div class="contenedor-foro">
  <!-- Lado izquierdo: Botón + imágenes -->
  <div class="lado-izquierdo">
    <button class="btn-foro" (click)="abrirVentanaCrear()">
      <span>Crear Publicación</span>
      <img src="assets/img/img-logo-menu1.png" alt="Icono Publicar" class="icono-boton">
    </button>
    <div class="foto">
      
      <img src="assets/img/img_foro1.png" alt="Foto latera" />
    </div>
  </div>

  <!-- Lado derecho: Publicaciones -->
  <div class="lado-derecho">
    <div class="publicaciones">
      <div class="publicacion" *ngFor="let publicacion of publicacionesList">
        <p class="publicado">Publicado por: {{publicacion.usuario.nombre}} {{publicacion.usuario.apellido}}</p>
        <p class="hace">hace: {{publicacion.fechaPublicacion | timeAgo}}</p>
        <h3>{{ publicacion.titulo }}</h3>
        <p>{{ publicacion.contenido }}</p>

        <div *ngIf="publicacion.imagen">
          <img [src]="publicacion.imagen" alt="Imagen de la publicación" class="imagen-publicacion" />
        </div>

        <div class="comentarios">
          <button (click)="verComentarios(publicacion)">{{publicacion.textComentario}}</button>
          <button (click)="comentar(publicacion)">Comentar</button>
        </div>

        <div *ngIf="publicacion.mostrarComentarios">
          <h3>Comentarios:</h3>
          <div class="comentario" *ngFor="let comentario of publicacion.comentarios">
            <p class="comentario-autor"><strong>Comentado por:</strong> {{ comentario.usuario.nombre }} {{ comentario.usuario.apellido }}</p>
            <span class="comentario-fecha">hace: {{ comentario.fechaComentario | timeAgo }}</span>
            <p class="comentario-contenido">{{ comentario.contenido }}</p>
          </div>
        </div>

        <div [formGroup]="comentarioForm" class="comentario-container" *ngIf="publicacion.mostrandoFormulario">
          <textarea formControlName="contenido" (input)="autoResize($event)" placeholder="Escribe tu comentario"
            class="comentario-textarea"></textarea>
          <div class="comentario-container-buttons">
            <button (click)="guardarComentario()" class="comentario-publicar">Publicar</button>
            <button (click)="cancelarComentar(publicacion)" class="comentario-cancelar">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Ventana emergente para crear contenido -->
  <div class="ventana-emergente" *ngIf="mostrarVentanaCrear">
    <form [formGroup]="publicacionForm">
      <div class="ventana-contenido">
        <img src="assets/img/img-logo-menu.png" alt="Foto lateral" />
       

        <h2>Crear nueva publicación</h2>
        <div class="input-container">
          <label for="titulo">Título:</label>
          <input formControlName="titulo" for type="text" id="titulo" />
        </div>
        <div class="input-container">
          <label for="contenido">Contenido:</label>
          <textarea formControlName="contenido" name="contenido" id="contenido" rows="4"
            (input)="autoResize($event)"></textarea>
        </div>
        <div class="input-container">
          <label for="imagen">Imagen:</label>
          <input type="file" id="imagen" (change)="onFileChange($event)" />
        </div>
        <div *ngIf="imagenSeleccionada">
          <img [src]="imagenSeleccionada" alt="Vista previa" class="imagen-previa" />
        </div>

        <button class="btn-opcion" type="submit" (click)="guardarPublicacion()">Publicar</button>
        <button class="btn-opcion" (click)="cerrarVentana()">Salir</button>
      </div>
    </form>
  </div>

 

