<div class="crud-container">
    <div class="container-header">
        <div class="contenedor-izq">
            <h2>Gestión de Lugares</h2>
            <p>Descripción general de la gestión de lugares y otras opciones.</p>
        </div>
        <div class="contenedor-derecho">
            <div class="search-container">
                <input type="text" placeholder="Buscar" class="search-input" />
                <button class="search-button"><span class="icon">🔍</span></button>
            </div>
            <button class="btn-opcion" (click)="openCrudModal()">Crear Lugar</button>
        </div>
    </div>

    <!-- Modal para el CRUD -->
    <div class="crud-modal" *ngIf="isCrudModalOpen">
        <div class="crud-modal-content">
            <span class="close-modal" (click)="closeCrudModal()">✖</span>
            <h3>Crear o Editar Lugar</h3>

            <form [formGroup]="lugaresForm">
                <div class="input-container">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" formControlName="nombre" />
                    <div *ngIf="lugaresForm.get('nombre')?.invalid && lugaresForm.get('nombre')?.touched" class="message error">
                        El nombre es obligatorio.
                    </div>
                </div>
                <div class="input-container">
                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion" formControlName="descripcion" rows="4"></textarea>
                    <div *ngIf="lugaresForm.get('descripcion')?.invalid && lugaresForm.get('descripcion')?.touched" class="message error">
                        La descripción es obligatoria.
                    </div>
                </div>
                <div class="input-container">
                    <label for="direccion">Dirección:</label>
                    <input type="text" id="direccion" formControlName="direccion" />
                    <div *ngIf="lugaresForm.get('direccion')?.invalid && lugaresForm.get('direccion')?.touched" class="message error">
                        La dirección es obligatoria.
                    </div>
                </div>
                <div class="input-container">
                    <label for="areaProtegida">Área Protegida:</label>
                    <input type="checkbox" id="areaProtegida" formControlName="areaProtegida" />
                </div>

                <div class="input-container">
                    <label for="areaProtegida">Patrimonio:</label>
                    <input type="checkbox" id="patrimonio" formControlName="patrimonio" />
                </div>
                <div class="input-container">
                    <label for="tipoZona">Tipo de Zona:</label>
                    <select id="tipoZona" formControlName="tipoZona">
                        <option value="urbano">Urbano</option>
                        <option value="rural">Rural</option>
                    </select>
                    <div *ngIf="lugaresForm.get('tipoZona')?.invalid && lugaresForm.get('tipoZona')?.touched" class="message error">
                        El tipo de zona es obligatorio.
                    </div>
                </div>

                <div class="btn-panel">
                    <button class="btn-opcion" type="submit" (click)="crearLugares()"><span class="icon">✔️</span> Guardar</button>
                    <button class="btn-opcion" type="button" (click)="limpiarFormulario()"><span class="icon">🧹</span> Limpiar</button>
                </div>
            </form>
            
        </div>
    </div>

    <div *ngIf="message" class="message success">{{ message }}</div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Descripción</th>
                    <th>Área Protegida</th>
                    <th>Patrimonio</th>
                    <th>Tipo de zona</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lugar of todosLugares">
                    <td>{{ lugar.nombre }}</td>
                    <td>{{ lugar.direccion }}</td>
                    <td>{{ lugar.descripcion }}</td>
                    <td>{{ lugar.areaProtegida ? 'Sí' : 'No' }}</td>
                    <td>{{ lugar.patrimonio ? 'Sí' : 'No' }}</td>
                    <td>{{ lugar.tipoZona}}</td>
                    
                    <td>
                        <button class="btn-opcion" (click)="editarLugar(lugar)"><span class="icon">✏️</span> Editar</button>
                        <button class="btn-opcion" ><span class="icon">❌</span> Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
