<footer class="footer">
    <!-- Texto a la izquierda con saltos de línea -->
    <div class="footer-text">
        <p>
            TURISMOTEC Perfecto para TURISTAS <br><br>

            Tik Tok:  Turismo_Tec_11<br>
            Instagram: Turismo_CuencaTec<br>
            Teléfono:       +593 123 456 789  <br>
            Email:          contacto112empresa.com<br>
            Todos los derechos reservados>.  <br>

        </p>
    </div>

    <!-- Imágenes a la derecha -->
    <div class="footer-images">
        <img src="assets/img/img-logo-menu.png" alt="Imagen 1">
        <img src="assets/img/img-logo-menu1.png" alt="Imagen 2">
    </div>
</footer>
